{% extends "pages/base.html" %}

{% block title %}
    Trainee detail
{% endblock title %}

{% block content %}
    <h1>{{ trainee.name }}'s detail</h1>
    
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Degree</th>
        </tr>
        <tr>
            <td>{{ trainee.id }}</td>
            <td>{{ trainee.name }}</td>
            <td>{{ trainee.age }}</td>
            <td>{{ trainee.degree }}</td>
            <td>
                <a href="{% url 'trainee_update' trainee.id %}">Update</a>
            </td>
            <td>
                <a href="{% url 'trainee_delete' trainee.id %}">Hard Delete</a>
            </td>
        </tr>
    </table>

    <p>
        <a href="{% url 'trainee_list' %}">Back to trainees list</a>
    </p>
{% endblock content %}