{% extends "pages/base.html" %}

{% block title %}
    Trainee add
{% endblock title %}

{% block content %}
    <h1>Add Trainee</h1>

    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div>
            <label for="age">Age</label>
            <input type="number" name="age" placeholder="Age">
        </div>
        <div>
            <label for="degree">Degree</label>
            <input type="number" name="degree" placeholder="degree">
        </div>

        <input type="submit" value="Add">
    </form>

{% endblock content %}
