{% extends "pages/base.html" %}

{% block title %}
    Trainee add
{% endblock title %}

{% block content %}
    <h1>Add Trainee</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.name.label }}
            {{ form.name }}
            {{ form.errors }}
        </div>
        <div>
            {{ form.age.label }}
            {{ form.age }}
            {{ form.errors }}
        </div>
        <div>
            {{ form.degree.label }}
            {{ form.age }}
            {{ form.errors }}
        </div>
        <div>
            {{ form.course.label }}
            {{ form.course }}
            {{ form.errors }}
        </div>
        <div>
            {{ form.image.label }}
            {{ form.image }}
            {{ form.errors }}
        </div>
        <input type="submit" value="Add">
    </form>

{% endblock content %}
