{% extends "pages/base.html" %}

{% block title %}
    Trainee list
{% endblock title %}

{% block content %}
    <h1>Trinee list</h1>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        {% for trainee in trainees %}
            <tr>
                <td>{{ trainee.id }}</td>
                <td>
                    <a href="{% url 'trainee_detail' trainee.id %}">{{ trainee.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <a href="{% url 'trainee_add' %}">Add Trainee</a>
    </p>
{% endblock content %}