{% extends "pages/base.html" %}
{% load static %}

{% block title %}
    register
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="auth-page">
        <div class="signup-card">
            <div class="signup-brand">
                <span class="brand-dot"></span>
                <span>ITIan</span>
            </div>
            <form action="/">
                First Name <input type="text" placeholder="First name"><br>
                Last Name <input type="text" placeholder="Last name"><br>
                Email <input type="email" placeholder="Enter your email"><br>
                Password <input type="password" placeholder="Enter your password"><br>
                <input type="submit" value="register">
            </form>
        </div>
    </div>
{% endblock content %}