{% extends "pages/base.html" %}

{% block title %}
    Course detail
{% endblock title %}

{% block content %}
    <h1>Course Details</h1>

    <table border="1">
        <tr>
            <th>Id</th>
            <td>{{ course.id }}</td>
        </tr>

        <tr>
            <th>Title</th>
            <td>{{ course.title }}</td>
        </tr>

        <tr>
            <th>Code</th>
            <td>{{ course.code }}</td>
        </tr>

        <tr>
            <th>Track</th>
            <td>{{ course.track }}</td>
        </tr>

        <tr>
            <th>Trainees</th>
            <td>
                <ul style="list-style: none;">
                    {% for trainee in course.trainees.all %}
                        <li>{{ trainee.name }}</li>
                    {% empty %}
                        <li>No trainees related to this course</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

    <p>
        <a href="{% url 'course_update' course.id %}">Update</a>
        |
        <a href="{% url 'course_delete' course.id %}">Delete</a>
        |
        <a href="{% url 'course_list' %}">Back to courses</a>
    </p>
{% endblock content %}