{% extends "pages/base.html" %}

{% block title %}
    Course list
{% endblock title %}

{% block content %}
    <h1>Course list</h1>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></td>
            </tr>
        {% empty %}

        {% endfor %}
    </table>

    <p>
        <a href="{% url 'course_add' %}">Add Course</a>
    </p>
{% endblock content %}